<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Global Coffee Analysis</title>

  <!-- <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script><style id="plotly.js-style-global"></style> -->

</head>
<body>
  <h1>{{title}}</h1>

  <!-- <div id="plot">

  </div>


  

  <h2>Iris-setosa</h2>
  <div id="plot1"></div>
  <h2>Iris-setosa</h2>
  <h2>Iris-setosa</h2>


  <script>
      let data = {{iris|tojson|safe}}
      console.log(data)

      let x = data.petallengthcm
      let y = data.petalwidthcm

      let trace = {
          x: x,
          y: y,
          mode: 'markers',
          type: 'scatter'
      }

      let layout = {
          title: 'Iris Petal Length vs Width',
          xaxis: {
              title: 'Petal Length (cm)'
          },
          yaxis: {
              title: 'Petal Width (cm)'
          }
      }

      Plotly.newPlot('plot', [trace], layout)


      let data1 = {{iris_setosa|tojson|safe}}
      console.log(data1)

      let x1 = data1.petallengthcm
      let y1 = data1.petalwidthcm

      let trace1 = {
          x: x1,
          y: y1,
          mode: 'markers',
          type: 'line'
      }

      let layout1 = {
          title: 'Iris Setosa Petal Length vs Width',
          xaxis: {
              title: 'Petal Length (cm)'
          },
          yaxis: {
              title: 'Petal Width (cm)'
          }
      }

      Plotly.newPlot('plot1', [trace1], layout1)

  </script> -->


</body>
</html>